*{
    background-color: rgb(208, 248, 234);
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px;   
    
}
h1{
    margin: 15px;
    padding: 15px;
    color: rgb(13, 76, 2);
    text-align: center;
}
#submit, #closebtn{
    background-color: rgb(4, 70, 72);
    height: 45px;
    width:120px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
    padding: 15px;
    
}
#submit:hover{
background-color:white;
}
#quiz-form{
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}
#result{
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}

